<div class="form-container">
  <form [formGroup]="vocabForm" novalidate (ngSubmit)="save(vocabForm)">

    <!-- text -->
    <div class="form-group">
      <label>Text</label>
      <input type="text" class="form-control" formControlName="text">
    </div>

    <!-- transliteration -->
    <div class="form-group">
      <label>Transliteration</label>
      <input type="text" class="form-control" formControlName="transliteration">
    </div>

    <!-- translation -->
    <div class="form-group">
      <label>Translation</label>
      <input type="text" class="form-control" formControlName="translation">
    </div>

    <!-- list of sentences -->
    <div formArrayName="sentences">
      <div *ngFor="let sentence of vocabForm.controls.sentences.controls; let i=index">

        <!-- sentence header, show remove button when more than one sentence available -->
        <div>
          <span>Sentence {{i + 1}}</span>
          <span *ngIf="vocabForm.controls.sentences.controls.length > 1" (click)="removeSentence(i)">
          </span>
        </div>

        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
        <div [formGroupName]="i">

          <!--text-->
          <div>
            <label>Text</label>
            <input type="text" class="form-control" formControlName="text">
          </div>

          <!--transliteration-->
          <div>
            <label>Transliteration</label>
            <input type="text" class="form-control" formControlName="transliteration">
          </div>

          <!--translation-->
          <div>
            <label>Translation</label>
            <input type="text" class="form-control" formControlName="translation">
          </div>

        </div>

      </div>
    </div>

    <button (click)="addSentence()" type="button" class="btn btn-link add-sentence-link">
      Add another sentence +
    </button>

    <div class="solo-btn-container">
      <button class="btn btn-outline-primary" type="submit" [disabled]="!vocabForm.valid">Submit</button>
    </div>
  </form>
</div>
