/* Prevent form from touching the application borders */

.form-container {
  padding: 1rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-width: .2rem;
}

/* To keep the link text aligned */

.add-sentence-btn {
  padding-left: 0;
  padding-right: 0;
}

/* Prevent button from displacing elements when appearing */

.remove-sentence-btn {
  padding-top: 0;
}
