<div class="form-container">
  <form>
    <div class="form-group">
      <label for="cueInput">Cue</label>
      <input type="text" class="form-control" id="cueInput">
    </div>
    <div class="form-group">
      <label for="transliterationInput">Transliteration</label>
      <input type="text" class="form-control" id="transliterationInput">
    </div>
    <div class="form-group">
      <label for="promptInput">Prompt</label>
      <input type="text" class="form-control" id="promptInput">
    </div>
    <!-- TODO click to add sentence -->
    <div class="solo-btn-container">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>